body {
    font-family: "poppins", "sans";
}

.helf-width {
    width: 50%;
    padding-top: 50px;
    padding-left: 2cm;
}

span {
    color: orange;
}

h1 {
    font-size: 70px;
}

#backgra {
    text-decoration: none;
    background-image: linear-gradient(to left, #FB984C, #FE4C2F);
    padding: 25px 45px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
}