body {
    font-family: 'poppins', 'regular sans',

}

.flexible-containar {
    display: flex;

}

.helf-width {
    width: 50%;
}

span {
    color: aqua;
}

/* problem ?? */
hr {
    color: chartreuse;
}

h1 {

    font-weight: 900;
}

#backgra {
    text-decoration: none;
    background-image: linear-gradient(to left, #FB984C, #FE4C2F);
    padding: 25px 45px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
}